.ImageSection {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;

    .img {
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .about-info {
        margin-left: 5rem;
        margin-top: -2rem;
        h4 {
            font-size: 2rem;
        }
        .about-text {
            padding: 2rem 0;
        }
    }
}

.about-details {
    display: flex;
    p {
        padding: 0.3rem 0;
    }
    .right-section {
        margin-left: 1.5rem;
    }
}
.btn {
    padding: 0.7rem 1rem;
    background-color: #037fff;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 2rem;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0.3rem;
        left: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        transition: all 0.7s ease-in-out;
    }
    &:hover::after {
        width: 100%;
    }
}
